body{
    background-image: url("../../Website/./DESKTOP_WALLPAPER/vlcsnap-2020-08-10-14h21m47s625.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.container{
    display: flex;
    margin: 20vw;
    align-items: center;
    justify-content: center;
    flex:1;
}
.key{
    margin: 20px;
    padding: 15px 25px;
    font-size: 2.5vw;
    color: white;
    background-color: rgb(0,0,0,0.3);
    border: 3px solid black;
    text-align: center;
    transition: all 0.3s;
    min-width:10vh;
}
.playing{
    transform: scale(1.2);
    background-color:black;
    border: 3px solid rgb(255, 255, 49);
    background-blend-mode:saturation;

}

.spantext{
    font-size: 1vw;
}